
<ion-content padding>
  <br>
  <br>
  <h2 style="font-family: lato; font-size: 40px; color: rgb(255, 255, 255);" class="ion-text-center">como você está?</h2>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col id="selecticon" ><img  (click)="Semdor()" style="width: 60px;
          height: 60px;" src="../../assets/icon/Grupo7.png">
        <p style="font-family: lato; font-size: 17px; color: rgb(255, 255, 255); font-weight: bold;">Sem dor</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col id="selecticon"  > <img (click)="Incomodo()" style="width: 60px; height: 60px;" src="../../assets/icon/Grupo16.png">
        <p style="font-family: lato; font-size: 17px; color: rgb(255, 253, 253); font-weight: bold;">Incômodo</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col id="selecticon" ><img (click)="Comdor()" style="width: 60px; height: 60px;" src="../../assets/icon/Grupo18.png">
        <p style="font-family: lato; font-size: 17px; color: rgb(255, 255, 255); font-weight: bold;">Com dor</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>