<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <p class="ion-text-center"><img src="../../../assets/17304-star.gif"></p>
  <p class="ion-text-center"> <span style="font-family: lato; font-size: 18px; color: #3E3E3E;"
      class="text-justify">Pronto! Utilize seu smartphone normalmente. A cada alerta que receber, clique sobre ele e responda como está se
      sentindo! Depois acompanhe sua evolução no gráfico.</span></p>
      <p class="ion-text-center" style="color:#3E3E3E">Volte  usar seu smartphone normalmente.</p>
  <!-- <p class="ion-text-center">
    <ion-chip (click)="logout()" style="background:#3f2e91;">
      <ion-icon style="color: #ffff;" name="thumbs-up"></ion-icon>
      <ion-label style="font-family: lato; font-size: 18px; color:#ffff">Volte  usar seu smartphone normalmente</ion-label>
    </ion-chip>
  </p> -->
</ion-content>